<% if(users != undefined){ %>
    <h1> <% console.log(users)%></h1>
    <ul>
    <% users.forEach( function(user){ %>
        <li> <a href='#' class='deleteUser' data-id=<%= user._id %> </a>delete</a></li>
        <ul>
            <li> id: <%= user._id %></li>
            <li> <%= user.order_name%> <input type='text'> <a href='#' class='updateName'> update</a></li>
            <li> <%= user.order_size%> <input type='text'> <a href='#' class='updateSize'> update</a></li>
            <li> <%= user.order_quant%> <input type='text'> <a href='#' class='updateQuant'> update</a></li>
            <li> <%= user.order_truck%> <input type='text'> <a href='#' class='updateTruck'> update</a></li>
        </ul>
        <br>
    <% })%>
    </ul>
<% }else{ %>
    <h1> users not defined</h1>
<% } %>